{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <div class="container text-center" style="max-width: 300px">
    {{ form_start(registrationForm) }}
        <div class="form-control">
        {{ form_row(registrationForm.email) }}
        </div>
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
