{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<div class="container text-center h-100 d-flex align-items-center justify-content-center" style="max-width: 500px">
     {{ form_start(registrationForm) }}
        <h1 class="display-1 text-light shadow-lg">NOTIZIUM</h1>
		<br>
		<br>
		<br>
        <div class="form-control text-center shadow-lg">
            <h3 class="h3 mb-3 font-weight-normal">Registrierung</h3>
            <table class="table align-middle table-borderless">
               <tr>
                   <td>Email-Adresse: </td>
                   <td>{{ form_row(registrationForm.email)}}</td>
               </tr>
               <tr>
                   <td>Vorname: </td>
                   <td>{{ form_row(registrationForm.surname) }}</td>
               </tr>
               <tr>
                   <td>Nachname: </td>
                   <td>{{ form_row(registrationForm.lastname) }}</td>
               </tr>
               <tr>
                   <td>Passwort: </td>
                   <td>{{ form_row(registrationForm.plainPassword)}}</td>
               </tr>
            </table>
            {{ form_row(registrationForm.agreeTerms, {'label': 'Benutzungsbedingungen zustimmen:    '}) }}
            <br>
            <button type="submit" class="btn btn-primary btn-block">Registrieren</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}
    <script>
        $(document).ready(function () {
            $("h1:hidden").fadeIn("slow");
        });
    </script>
{% endblock %}
