<!-- Modal -->
<div class="modal fade" id="{{target_modal}}" tabindex="-1" aria-labelledby="#{{target_modal}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="{{target_modal}}">Notiz erstellen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {{ form_start(create_note) }}
      <div class="modal-body text-dark">
        Titel:
        {{ form_row(create_note.title) }}
        Kategorie:
        {{ form_row(create_note.category) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        {{ form_row(create_note.save) }}
      </div>
      {{ form_end(create_note) }}
    </div>
  </div>
</div>