<!-- Modal -->
<div class="modal fade" id="{{target_modal}}" tabindex="-1" aria-labelledby="#{{target_modal}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="{{target_modal}}">Kategorie erstellen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
        {{ form_start(notes2) }}
        <h1 id="Test2" class="display-1 text-light shadow-lg">NOTIZIUM</h1>
		<br>
		<br>
		<br>
        <div class="form-control text-center shadow-lg">
            <h3 class="h3 mb-3 font-weight-normal">Registrierung</h3>     
            
            <table class="table align-middle table-borderless">
                  {{ form_start(notes2) }}
                  {{ form_row(notes2.title) }}
                  {{ form_row(notes2.Category) }}

        <button type="submit" class="btn">Neu</button>
    {{ form_end(notes2) }}
            </table>
            {{ form_row(notes2.agreeTerms, {'label': 'Benutzungsbedingungen zustimmen:    '}) }}
            <br>
            <button type="submit" class="btn btn-primary btn-block">Registrieren</button>
        </div>
    </div>
    {{ form_end(notes2) }}
        Name:
        <input type="text" class="form-control" id="todo" placeholder="Neue Kategorie"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <!--TODO Add form to create note-->
        <button type="button" class="btn btn-success">Erstellen</button>
      </div>
    </div>
  </div>
</div>