<!-- Modal -->
<div class="modal fade" id="{{target_modal}}" tabindex="-1" aria-labelledby="#{{target_modal}}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-dark" id="{{target_modal}}">Kategorie erstellen</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{{ form_start(create_cat) }}
			<div class="modal-body text-dark">
					{{ form_row(create_cat.name) }}
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <!--<button type="submit" class="btn btn-success">Erstellen</button>-->
				{{ form_row(create_cat.save) }}
      </div>
      {{ form_end(create_cat) }}
    </div>
  </div>
</div>