<!-- Modal -->
<div class="modal fade" id="{{target_modal}}" tabindex="-1" aria-labelledby="#{{target_modal}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="{{target_modal}}">Notiz {{note_name}} verschieben</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
        Verschieben nach:
        {{ form_start(move_note) }}
        {{ form_row(move_note.category) }}
         <button type="submit" class="btn btn-primary btn-block">Ändern</button>
        {{ form_end(move_note) }}
      </div>
    </div>
  </div>
</div>