<!-- Modal -->
<div class="modal fade" id="{{target_modal}}" tabindex="-1" aria-labelledby="#{{target_modal}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="{{target_modal}}">Notiz {{note_name}} verschieben</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
        Verschieben nach:
        <select class="form-select" aria-label="Neue Kategorie">
            {% for category in notes|keys %}
                <!-- TODO remove current category -->
                <option value="TODO cat ID">{{category}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <!--TODO Add form to move note-->
        <button type="button" class="btn btn-primary ">Verschieben</button>
      </div>
    </div>
  </div>
</div>