{# templates/notes.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<nav id="topBar" class="navbar mb-2 bg-primary bg-gradient">
    <div class="container-fluid">
        <div id="topBarLoadingSpinner" style="width: 1.5rem; height: 1.5rem; grid-column: 1; grid-row: 1;" class="spinner-border spinner-border-sm text-white m-0" role="status"></div>
        <svg id="topBarSyncedIcon" xmlns="http://www.w3.org/2000/svg" 
                style="grid-column: 1; grid-row: 1;" width="1.5rem" height="1.5rem" 
                fill="white" class="bi bi-cloud-check" viewBox="0 0 16 16"
                data-toggle="tooltip" data-bs-placement="right" 
                title="Deine Notizen wurden automatisch gespeichert">
            <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        </svg>
        <h4 class="text-white">NOTIZIUM</h4>
        <div>
            <button id="btnShare" type="button" class="btn text-white btn-outline-info" data-bs-toggle="modal" data-bs-target="#shareModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16"
                    data-toggle="tooltip" data-bs-placement="bottom" title="Diese Notiz teilen">
                    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                </svg>
            </button>
            {% set vars = {
                target_modal: 'shareModal',
                note_name: 'TODO',
                note_id: 'TODO3',
            } %}
            {% include 'modals/share.html.twig' with vars %}

            <button id="btnLogout" type="button" class="btn text-white btn-outline-danger" onclick="location.href='/logout'">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"
                    data-toggle="tooltip" data-bs-placement="bottom" title="Abmelden">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                </svg>
            </button>
        </div>
    </div>
</nav>
<div id="main" class="row container-fluid h-100 text-white" style="overflow: hidden;">
    <div id="content" class="col-10 row">
        <div id="editor" class="col-md w-50 h-100">
            <textarea id="textEditor" class="rounded p-3 w-100 h-100 bg-dark scrollbar scrollbar-primary text-white" {% if not currentID is defined %} disabled {% endif %}>
                {% if not content is defined %} #TODO: Notiz erstellen {% endif %}
            </textarea>
        </div>
        <!--<div id="preview" class="rounded p-3 mb-2 bg-dark col-md h-100 w-50" style="overflow-wrap:break-word; overflow:hidden;"></div>-->
        <iframe src="../preview.html" id="preview" class="rounded p-3 mb-2 bg-dark col-md h-100 w-50" style="overflow-wrap:break-word; overflow:hidden;"></iframe>
    </div>
    <div id="sideBar" class="col row">
        <div class="col overflow-auto scrollbar scrollbar-primary h-75 mb-2" style="overflow-y: scroll; max-height:90vh;">
            {% for category,_notes in notes %}
                <ul class="list-group mb-2" >
                    <a class="text-decoration-none rounded p-1 bg-primary text-white text-center" data-bs-toggle="collapse" href="#category_{{ loop.index0 }}" role="button" aria-expanded="false" aria-controls="category_{{ loop.index0 }}">
                        {{ category }}
                    </a>
                    <div class="collapse" id="category_{{ loop.index0 }}">
                        {% for note in _notes %}
                            <a href='/notes/{{ note.getId() }}' class="list-group-item list-group-item-action text-white bg-dark">{{ note.getTitle() }}</a>
                        {% endfor %}
                    </div>
                </ul>
            {% endfor %}
        </div>
        <div class="h-25"> 
            <button type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#create_noteModal"
                data-toggle="tooltip" data-bs-placement="top" title="Notiz erstellen">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                </svg>
            </button>
            {% set vars = {
                target_modal: 'create_noteModal',
            } %}
            {% include 'modals/create_note.html.twig' with vars %}
            <button type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#create_catModal"
                data-toggle="tooltip" data-bs-placement="top" title="Kategorie erstellen">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                    <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                    <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </button>
            {% set vars = {
                target_modal: 'create_catModal',
            } %}
            {% include 'modals/create_cat.html.twig' with vars %}
            {% if move_note is defined %}
                <button type="button" class="btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#moveModal"
                    data-toggle="tooltip" data-bs-placement="top" title="Notiz verschieben">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-arrows-move" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
                    </svg>
                </button>
                {% set vars = {
                    target_modal: 'moveModal',
                    note_name: 'TODO',
                    note_id: 'TODO1',
                    note_category: 'TODO',
                } %}
                {% include 'modals/move.html.twig' with vars %}
            {% endif %}
            {% if delete_note is defined %}
                <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    data-toggle="tooltip" data-bs-placement="top" title="Notiz löschen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </button>
                {% set vars = {
                    target_modal: 'deleteModal',
                    note_name: 'TODO',
                    note_id: 'TODO2',
                } %}
                {% include 'modals/delete.html.twig' with vars %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    // on page loaded
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
        $('#topBarLoadingSpinner').hide()

        // bootstrap workarround
        $("#btnLogout").css("border-width", "0px");
        $("#btnShare").css("border-width", "0px");

        let content = "{{ content }}";
        // remove all non base64 characters
        content = content.replace(/[^a-zA-Z0-9\+\/\=]/g, "");
        // decode base64
        content = atob(content);
        $("#textEditor").text(content);

        let nextSync = 0;
        $("#textEditor").on("input", function () {
            // set content of preview
            $("#preview").contents().find('body').html(marked.parse($("#textEditor").val()));
            if (nextSync < Date.now()) {
                nextSync = Date.now() + 1000;
                $('#topBarSyncedIcon').fadeOut(function () { $('#topBarLoadingSpinner').fadeIn(); });
                setTimeout(function() {
                    $('#topBarLoadingSpinner').fadeOut(function () { $('#topBarSyncedIcon').fadeIn(); });
                }, 1000);
                {% if currentID is defined %}
                    $.ajax({
                        url: "/notes/{{ currentID }}/sync",
                        type: "POST",
                        data: {
                            "content": btoa($("#textEditor").val()),
                        }
                    });
                {% endif %}
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}